* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #202020;
  color: #eaeaea;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100%;
}

main {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ol {
  background-color: wheat;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

li button {
  padding: 1rem;
  background-color: #303030;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
}

li button:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}